
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
!
hostname {{ inventory_hostname }}
logging_buff_size {{ logging_buff_size }}
clock timezone {{ timezone }} {{ timezone_offset }} 0
clock summer-time {{ timezone_summer }} recurring
ip domain name {{ domain_name }}
ip name-server {{ name_server_1}}
ip name_server {{ name_server_2 }}

username {{ username }} privilege 15 secret {{ password }}

{% for key, value in users.items() %}
username {{ key }} privilege {{ value.privilege }} password 0 {{ value.password }}
{% endfor %}


{% for key, value in ntp.items() %}
ntp server {{ key }}{% if value['prefer'] == true %} prefer {% endif %}

{% endfor %}

{% if loopback_interfaces is defined %}
{% for key, value in loopback_interfaces.items() %}
interface loopback{{ key }}
ip address {{ value['ip'] }} {{ value['mask'] }}
no shut
{% endfor %}
{% endif %}

{% if Ethernet_Interfaces is defined %}
{% for key, value in Ethernet_Interfaces.items() %}
interface {{ key }}
{% include 'generic_l3_interface_configs.j2' %}
ip address {{ value['ip']}} {{ value['mask'] }}
negotiation auto
no shut
{% endfor %}
{% endif %}


!
!
!
no aaa new-model
no ip icmp rate-limit unreachable
!
!
!
!
!
!
no ip domain lookup
ip domain name gns-beta
ip cef
no ipv6 cef

interface Loopback0
 ip address 100.100.100.100 255.255.255.255
!
interface Loopback1
ip address 99.99.99.99 255.255.255.255
