{% if 'description' in value.keys() %}
description {{ value['description'] }}
{% endif %}

{% if 'redirects' in value.keys() %}
{% if value['redirects'] == true %}
ip redirects
{% elif value['redirects'] == false %}
no ip redirects
{% endif %}
{% endif %}

{% if 'unreachables' in value.keys() %}
{% if  value['unreachables'] == true %}
ip unreachables
{% elif value['unreachables'] == false %}
no ip unreachables
{% endif %}
{% endif %}

{% if 'proxy-arp' in value.keys() %}
{% if value['proxy-arp'] == true %}
ip proxy-arp
{% elif value['proxy-arp'] == false %}
no ip proxy-arp
{% endif %}
{% endif %}
