{% if 'description' in Ethernet_Interfaces.keys() %}
description {{ Ethernet_Interfaces['description'] }}
{% endif %}

{% if 'redirects' in Ethernet_Interfaces.keys() %}
{% if Ethernet_Interfaces['redirects'] == true %}
ip redirects
{% elif Ethernet_Interfaces['redirects'] == false %}
no ip redirects
{% endif %}
{% endif %}

{% if 'unreachables' in Ethernet_Interfaces.keys() %}
{% if  Ethernet_Interfaces['unreachables'] == true %}
ip unreachables
{% elif Ethernet_Interfaces['unreachables'] == false %}
no ip unreachables
{% endif %}
{% endif %}

{% if 'proxy-arp' in Ethernet_Interfaces.keys() %}
{% if Ethernet_Interfaces['proxy-arp'] == true %}
ip proxy-arp
{% elif Ethernet_Interfaces['proxy-arp'] == false %}
no ip proxy-arp
{% endif %}
{% endif %}
