{% if loopback_interfaces is defined %}
{% for key, value in loopback_interfaces.items() %}
set network interface loopback units loopback.{{ key }} adjust-tcp-mss enable no
set network interface loopback units loopback.{{ key }} ip {{ value['ip'] }}
set network interface loopback units loopback.{{ key }} interface-management-profile Mgmt
set network interface loopback units loopback.{{ key }} comment "{{ value['description'] }}"
{% endfor %}
{% endif %}

{% if tunnel_interfaces is defined %}
{% for key, value in tunnel_interfaces.items() %}
set network interface tunnel units tunnel.{{ key }} comment "{{ value['description'] }}"
{% endfor %}
{% endif %}

{% if aggregate_interface is defined  %}
{% for key, value in aggregate_interface.items() %}
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} ipv6 neighbor-discovery router-advertisement enable no
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} ndp-proxy enabled no
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} adjust-tcp-mss enable no
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} ip {{ value['ip'] }}
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} interface-management-profile Mgmt
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} tag {{ key }}
set network interface aggregate-ethernet ae1 layer3 units ae1.{{ key }} comment "{{ value['description'] }}"
{% endfor %}
{% endif %}


{% if static_route_for_DNS is defined %}
{% for key, value in static_route_for_DNS.items() %}
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} path-monitor enable no
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} path-monitor failure-condition any
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} path-monitor hold-time 2
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} nexthop next-vr {{ value['VR'] }}
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} bfd profile None
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} metric 10
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} destination {{ value['DNS_dst_IP'] }}
set network virtual-router VR-Main routing-table ip static-route {{ value['DNS_Name'] }} route-table unicast
{% endfor %}
{% endif %}
