

loopback_interfaces: {
   {{ Loopback }}: {
     'ip': '105.99.99.99/32',
     'description': {{ Customer_dec }}
    },
  {{ Admin_Loopback }} : {
      'ip': '105.101.101.101/32',
     'description': {{ Admin_dec }}
  }
}

tunnel_interfaces : {
 {{ Tunnel }}: {
    'description': {{ Customer_dec }}
  },
  {{ Admin_Tunnel }}: {
    'description': {{ Admin_dec }}
  }
}

aggregate_interface : {
 {{ Data_aggregate_interface }}: {
     'ip': '10.8.44.254/24',
     'description': {{ SCS_Data_dcs }}
  },
  {{ Console_aggregate_interface }}: {
     'description': {{ SCS_Console_dec }},
      'ip': '10.8.44.254/24'
   },
  {{ Clink_aggregate_interface }}: {
   'description': {{ SCS_Clink_dec }},
   'ip': '10.8.44.254/24'

  },
  {{ Admin_aggregate_interface }}: {
  'description': {{ SCS_Admin_dec }},
  'ip': '10.8.44.254/24'
  }
}

static_route_for_DNS: {
 'DNS1' : {
     'DNS_Name': {{ DNS1_Name }},
     'DNS-1_IP' : 'blah'
 },
 'DNS2' : {
     'DNS_Name': {{ DNS2_Name }},
     'DNS-1_IP' : 'blah'
 }
}
